#logoWrapper,
.smallScreenHeader #logoWrapper a:first-child,
.smallScreenHeader #logoWrapper .localLogo,
.newHeaderWrapperLocalMenuLogo,
.newHeaderWrapperMobileMenuLogo,
.menuScrolling .newHeaderWrapperSearchMenuLogo:after,
input#submitSearchBtn,
#fpSocialMediaBlock3 .fpSocialMediaWrapper:before,
#fpSocialMediaBlock1 .fpSocialMediaBlockTitle a,
.footerBySiteIcons:before,
#socialMediaWrapperIcone a,
#goRight,
#goLeft,
.imgNav li,
.imgNav li.activeNav,
.rightArrowStyleHome,
.rightArrowStyle,
.leftArrowStyleHome,
.leftArrowStyle,
#SocialMediaWrapper:before,
#viewByList,
#viewByGrid,
.Basic,
.Free,
.Premium,
.Premium.Plus,
.Videos,
.Video, 
.vidImg,
.Audios,
.Audio,
.bothAdVdImg,
.Both,
.expand > a,
a.collapse,
span.downloadAudio,
.customSelectDropdown:after,
.ccLesson span,
#courseDescription .stLarge,
.socialMediaIcon .stLarge,
#eSocial .stLarge,
.resourceFile,
.wrapperLesson.activeLesson:after,
.activeTap,
.streaming,
.membership,
.lessonCollectionSection input#edit-title,
#searchWrapper .form-submit,
#previewVideoStash,
span.lessonsCourse,
#reposiveMobileMenu,
a.jp-play:after, 
a.jp-pause:after,
a.jp-mute:after,
a.jp-unmute:after{
    //background-image: url("/sites/all/themes/ukabbalah/images/all_eng_sm_new.png")!important;
    background-image: url("http://cdn1.kabbalah.com/university/icons/all_eng_sm_new.png")!important;
    background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    	#logoWrapper,
		.smallScreenHeader #logoWrapper a:first-child,
		.smallScreenHeader #logoWrapper .localLogo,
		.newHeaderWrapperLocalMenuLogo,
		.newHeaderWrapperMobileMenuLogo,
		.menuScrolling .newHeaderWrapperSearchMenuLogo:after,
		input#submitSearchBtn,
		#fpSocialMediaBlock3 .fpSocialMediaWrapper:before,
		#fpSocialMediaBlock1 .fpSocialMediaBlockTitle a,
		.footerBySiteIcons:before,
		#socialMediaWrapperIcone a,
		#goRight,
		#goLeft,
		.imgNav li,
		.imgNav li.activeNav,
		.rightArrowStyleHome,
		.rightArrowStyle,
		.leftArrowStyleHome,
		.leftArrowStyle,
		#SocialMediaWrapper:before,
		#viewByList,
		#viewByGrid,
		.Basic,
		.Free,
		.Premium,
		.Premium.Plus,
		.Videos,
		.Video, 
		.vidImg,
		.Audios,
		.Audio,
		.bothAdVdImg,
		.Both,
		.expand > a,
		a.collapse,
		span.downloadAudio,
		.customSelectDropdown:after,
		.ccLesson span,
		#courseDescription .stLarge,
		.socialMediaIcon .stLarge,
		#eSocial .stLarge,
		.resourceFile,
		.wrapperLesson.activeLesson:after,
		.activeTap,
		.streaming,
		.membership,
		.lessonCollectionSection input#edit-title,
		#searchWrapper .form-submit,
		#previewVideoStash,
		span.lessonsCourse,
		#reposiveMobileMenu,
		a.jp-play:after, 
		a.jp-pause:after,
		a.jp-mute:after,
		a.jp-unmute:after{
			//background-image: url("/sites/all/themes/ukabbalah/images/all_eng_large_new.png")!important;
			background-image: url("http://cdn1.kabbalah.com/university/icons/all_eng_large_new.png")!important; 
	        background-size: 322px 2607px; // those size should be the half on the original size
		}
		.newHeaderWrapperMobileMenuLogo{
			// height: 24px;
			background-position: 0 -834px;
		}
        
}


// 