/**** Ryan's plugin ****/ 


/****************************************************featured display****************************************/

/*#mainContentFeatured{
    height: 250px;
    padding-bottom:85px;
}*/

.view-front-page-featured-content .view-content .jcarousel-skin-default .jcarousel-container{
	width:inherit !important;
	 padding: 0;
}


.view-front-page-featured-content .view-content .jcarousel-skin-default .jcarousel-container .jcarousel-clip{
    margin: auto !important;
    padding: 0 20px !important;
    width: 940px !important;
}


ul.jcarousel-view--front-page-featured-content--topics-featured-top-block{
}


ul.jcarousel-view--front-page-featured-content--topics-featured-top-block li{
	width:980px !important;
	height:250px !important;
	border: none !important;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	width:100% !important;
	border:none !important;
	background:none !important;
}

.jcarousel-container-horizontal ul li{
	border:none;
}

.topicsFeaturedImage{
	float:left;
	margin-right:40px;
}


.topicsFeaturedImage img{
	width:440px;
	height:247px;
}

.topicsFeaturedContent{
	float:left;
	  text-align: left;
	width:460px;
}

.topicsFeaturedTitle{
	font-size:18px;
	display:block;
}

.topicsFeaturedDatenAuthor{
	font-size:14px;
	display:block;
	margin-bottom:30px;
}

.topicsFeaturedText{
	font-size:16px;
	text-align:left;
}

.topicsFeaturedWrapper{
	float: left;
}

a.jcarousel-prev {
	background-image: url("../images/arrow-left.png") !important;
	background-repeat:no-repeat;
	height: 60px !important;
    width: 52px !important;
     background-position:center !important;
     left: 0 !important;
    right: 0 !important;
}

a.jcarousel-next {
	background-image: url("../images/arrow-right.png") !important;
	background-repeat:no-repeat;
	height: 60px !important;
    width: 52px !important;
     background-position:center !important;
    right: 0 !important;
}


a.jcarousel-prev:hover {
	background-image: url("../images/arrow-left.png") !important;
	background-repeat:no-repeat;
	height: 60px !important;
    width: 52px !important;
    background-position:center !important;
}

a.jcarousel-next:hover {
	background-image: url("../images/arrow-right.png") !important;
	background-repeat:no-repeat;
	height: 60px !important;
    width: 52px !important;
     background-position:center !important;
}
/****************************************************slider display******************************************/

#teachingsSection{
	height:40px;
	clear:both;
}

#teachingsControlSection{
	clear: both;
    margin: auto;
    max-width: 1580px;
    min-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#f5f5f5;
    height:20px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top: 50px;
}
#teachingsSectionTitle{
    color: #433a3a;
    float: left;
    font-family: ProxiRegular;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
/*    padding-left: 20px;*/
    text-decoration: none;
    text-transform: uppercase;
}



#teachingsSectionHeaderBar{
    float:right;
    margin-top: 2px;
}

#topicDDtext,#teachersDDtext{
	 color: #999999;
    font-size: 16px;
    font-weight: normal;
	margin-left: 20px;
}
#teachersDDtext{
    margin-left: 0!important;
}
#topicDD{
	color: #5F8F9D;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    text-transform: uppercase;
    height: 17px;
}

#teachersDD {
    color: #5F8F9D;
    font-size: 16px;
    font-weight: normal;
    height: 17px;
    margin-left: 10px;
    text-transform: uppercase;
}

#showFilters{
	 float: left;
     margin-left: 2.6%;
     margin-top: 4px;
}

#filterText{
    color: #999999;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: lowercase;
}

#showFiltersTitle {
    color:#999999;
    float: left;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
   margin-left: 7%;
}
.activeBtn  {
    color: #433a3a!important;
}
#articlesBtn {
    color: #999999;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
   margin-left: 10.3%;
    text-align: left;

}

#videoBtn {
    color: #999999;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
     margin-left: 10.3%;
    text-align: left;
}

#bookBtn{
	color: #999999;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10.3%;
    text-align: left;
}

#allBtn {
    color: #999999;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
   margin-left: 8.3%;
    text-align: left;
}



#teachingResultSection{
	clear:both;
	margin-top: 40px;
}

.imagesCont {
    cursor: pointer;
    float: left;
    overflow: hidden;
    width: inherit;
}

.imagesCont a {
    cursor: pointer;
    overflow: hidden;
    width: inherit;
}

.imagesCont img {
    float: left;
    height: 170px;
    width: inherit;
    z-index: -10;
}

.descCont {
    background: url('../images/sliding_white_bg_3.png') repeat-x ;
    float: left;
    height: 180px;
    margin-top: -59px;
    padding-top: 0 !important;
    width: 300px;
}
.jsonTitle{
    margin-left: 10px;
	 width: 280px;
	 /**float:left;*/
	 margin-top: 10px;
     padding-bottom: 4px;
     /*height: 38px;*/
}
.jsonTitle a{
	color: #433A3A !important;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0px;
    padding-bottom: 7px;
    text-align: left;
    text-transform: uppercase;
   width: inherit;
}
.teachingsTopicAndDate{
	/*float: left;*/
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    /*width: 300px;*/
}

.teaser {
    color: #433a3a !important;
    display: block;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}
.teachersPath a,.teachersPath a:hover {
    color:#127795;
}
.teaser p{
    margin-bottom: 5px;
    margin-top: 0!important;
    color: #433A3A !important;
    display: block;
    font-size: 14px;
    line-height: normal;
    margin-bottom: 5px;
    margin-top: 0 !important;
    text-align: left;
    line-height: 20px;
}
.path a{
	font-size: 12px;
	margin-left: 10px;
   	color:#af514c;
   	text-transform: capitalize;
}
#teachingResultSection .imagesCont a {
    height: auto !important;
    text-decoration: none !important;
}
ul.jcarousel-skin-default{
	list-style:none;
	 padding: 0;
}
ul.jcarousel-skin-default li{
	list-style:none;
	float:left;
	margin-right: 10px;
}
.ulWrapper{
	max-width:1580px;
	min-width:940px;
	padding-right:20px;
	padding-left:20px;
	margin:auto;
	padding-bottom:100px;
}
.caroufredsel_wrapper{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

ul.flex-direction-nav li{
	list-style:none;
}

a.flex-prev{
	float:left;
	position:absolute;
	background-image: url("../images/arrow-left.png");
	background-repeat:no-repeat;
    margin-top: 75px;
    width: 54px;
    height: 60px;
    color:transparent;
    text-indent: -1000em;
     z-index: 100;

}


a.flex-next{
	float:right;
	position:relative;
    background-image: url("../images/arrow-right.png");
	background-repeat:no-repeat;
	 top: -230px;
    width: 52px;
    height: 60px;
    color:transparent;
    text-indent: -1000em;
}

.ulOuterWrapper{
	margin: auto;
    max-width: 1580px;
    min-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
}

.parent_topic {
    margin: 0 auto;
}

#caroufredsel_wrapper{
    margin-top: 0px;
}

#latestteachings {
    margin-top:160px;
    margin-bottom: 20px;
}

#teachingResultSection .parent_topic a{
    text-transform: capitalize;
    text-decoration: none;
    font-family: ProxiRegular;  
    font-size: 28px;
    line-height: 28px;
    color: #999999;
    margin-left: 10px;
}
#teachingResultSection .carousel .rowStyle{
    margin-bottom: 36px;
}
#teachingResultSection .carousel .ulStyle{
    padding: 0px;
}

.viewAll {
    line-height: 12px;
    margin-left: 8px;
    margin-top: 4px;
    position: absolute;
}

#teachingResultSection .parent_topic .viewAll a {
    color: #127795;
    font-size: 14px;
    line-height: 28px;
    text-transform: lowercase;
    margin-left: 10px;
}
#teachings_topicDD option,#teachings_teachersDD option{
    text-transform: none;
}
#teachings_teachersDD,#teachings_topicDD{
    width: 150px;
}
@media (min-width: 1600px) {
    .descriptionEvents {
    margin: auto;
    width: 1580px;
    }
}
@media (max-width: 1000px) {
    .descriptionEvents {
    margin: auto;
    width: 940px;
    }
}
.descriptionEvents{
    font-family: ProxiRegular;  
    font-size: 16px;
    line-height: 28px;
    color: #8b8888; 
    text-align: left;
    margin-top: 3px;
    padding-left: 18px;
}
.descriptionEvents a,.descriptionEvents a:hover{
    color: #127795;
    font-size: 14px; 
}